<div class="product-align">
    <h3 class="product-name">{{this.name}}</h3>
    <p class="product-description">{{this.description}}</p>
    <p class="product-price">$ <span class="price-value">{{this.price}}</span></p>
</div>
<a class="product-link flex" href="/products/{{this.id}}">See more details</a>