<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Task 4</title>

        <!--css-->
        <link rel="stylesheet" href="/css/style.css">

        <!--js-->
        <script src="/js/script.js" type="text/javascript" defer></script>
    </head>
    <body>
        <header class="header">
            <nav class="nav">
                <h2 class="nav-logo">Logo</h2>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
                <span class="nav-icon">&equiv;</span>
            </nav>
        </header>

        {{{body}}}

        <footer class="footer">
            <p>&copy; 2024 | <a href="https://github.com/Gustavo-Victor/" target="_blank">Gustavo Victor</a></p>
            <p>All rights reserved</p>
        </footer>
    </body>
</html>