<div class="container">
    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti fugit reiciendis laborum illum error eos at, dignissimos cumque iste quibusdam quos incidunt repudiandae ipsa iure quidem repellendus cum voluptates tempore!</p>
        
    <hr />

    {{#if hasError}}
        <a class="error-message" href="/"><span>Something went wrong. Try again later.</span></a>
    {{/if}}
</div>