<div class="container">
    <h1>Products</h1>
    <section class="products">
        {{#each products}}
            <div class="product-single">
                {{> product}}
            </div>
            <hr>
        {{/each}}
    </section>
</div>